/* * {
    border:solid;
    border-color: red;
} */
:root {
    --lightColor: #e8f4f8;
}
body {
    height:150vh;
    width:100vw;
    background-color: var(--lightColor);
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: -1%;
    height: 15%;
    background-color: rgb(59, 56, 56);
}

main {
    height: 80%;
    background-color: var(--lightColor);
    display:flex;
    flex-direction: column;
    padding: 1%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(171, 168, 168);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:30%;
    padding-top:5%;
}



.shares-container {
   
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .personal-videos {
   
} */

#h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-container  {
    height:90%;
    width:90%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
    /* border:solid;
    border-color: black; */
}

.grid-container > div  {
    width:100%;
    height:100%;
    border:solid;
    border-color: black;
    display:flex;
    flex-direction: column;
}

.grid-item {
    display : flex;
    flex-direction:column;
}

.visuals {
    background-image: url('images/pexels-aleksandar-pasaric-2872755.jpg');
    background-size: 100% 100%;
    height:20%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    padding:10% ;
}

.view-count{
    padding-left: 20%;
}

.name-date-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:-10%;
}

.name {
    margin-bottom: -10%;
}

.linkbox {
    background-color: rgb(91, 91, 91);
    width: 90%;
    margin-left: 5%;
    padding-top: 5%;
}

.playlists-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.videos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .playlist{
    margin-bottom: -10%;
}

.name-of-playlist{
    margin-top:10%;
} */

.right-upper-container{
    margin-right: 2%;
}


.icon {
    height: 15px;
    width: 15px;
}

.admin-username-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.big-icon {
    height: 50%;
    width: 50%;
}