/* * {
    border:solid;
    border-color: red;
} */
:root {
    --lightColor: #f0f8ff
}
body {
    height:150vh;
    width:100vw;
    background-color: var(--lightColor)
    display:flex;
    flex-direction: column;
}

header {
    height: 15%;
    background-color: rgb(59, 56, 56);
}

main {
    height: 80%;
    background-color: rgb(74, 103, 128);
    display:flex;
    flex-direction: column;
}

#h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid-container  {
    height:90%;
    width:90%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    border:solid;
    border-color: black;
}

.grid-container > div  {
    width:80%;
    height:100%;
    border:solid;
    border-color: black;
    display:flex;
    flex-direction: column;
}

.grid-item {
    display : flex;
    flex-direction:column;
}

.visuals {
    background-image: ;
    height:20%;
    width:100%;
}

